<div class="font-poppins w-full h-screen md:flex">
    <div class=" h-[50vh] mt-3 md:h-auto md:px-20 md:pt-44 md:w-1/2">
        <p class="text-purple-600 font-medium text-3xl text-center md:text-left md:font-medium md:text-4xl">
            Reinforce your brand
        </p>
        <p class="text-[20px] text-center md:text-[20px] md:text-left tracking-wide leading-normal">
            Raise <span class="font-medium">awareness</span> of your offered qualifications while improving the security and auditability for your <span class="font-medium">certification</span> process.
        </p>
        <div class="text-center md:text-left">
            <button mat-raised-button color="primary">Get Started</button>
        </div>
    </div>
    <div class=" h-[50vh] md:h-auto md:pl-28 md:pt-20 md:w-1/2">
        <div class="relative ">
            <div class="w-[400px] h-[400px] bg-purple-700 rounded-full relative">
            </div>
            <img src="../../../assets/images/happyGirl.3e189b52-removebg.png" class="md:w-[530px] absolute md:top-[-75px] md:ml-[-55px]" alt="">
        </div>
    </div>
</div>
