<div class="font-poppins">
  <div class="md:w-full md:h-screen md:flex">
    <div class="md:w-1/2 md:h-screen md:pt-12">
      <img
        src="../../../assets/images/choseSignup.9c5e6d7f.png"
        class="mx-auto md:w-[300px]"
        alt=""
      />
      <div class="md:px-24 py-20 md:text-center">
        <span class="text-[16px]">
          Raise awareness of your offered qualifications while improving the
          security and audability for your certification process.
        </span>
      </div>
    </div>
    <div class="md:bg-blue-600 md:w-1/2 md:h-screen md:pt-12 md:px-2">
      <span class="text-[40px] text-purple-500">Reinforce your brand</span>
      <p class="pt-8 text-[16px] leading-6">
        <span class="font-medium">Create an account</span> on EarnedBadge to
        <br />
        Reinforce your Brand
      </p>
      <div class="md:text-center md:mt-[60px]">
        <span class="text-[24px] font-medium"> Choose Sign Up Option </span>
        <div class="mt-[60px]">
            <a href="" class="bg-red-500">
                <button class="md:text-[24px] px-[16px] py-4 md:w-full md:my-2 rounded-lg bg-green-500">
                    As a User
                </button>
            </a>
            <a href="" class="">
                <button class="md:text-[24px] px-[16px] py-4 md:w-full rounded-lg hover:bg-green-500">
                    As an Organization
                </button>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
