<div>
    <div class="text-center">
        <p class="md:text-[36px]">
            Why Digital Badge?
        </p>
    </div>
    <div>
        <mat-grid-list cols="2" rowHeight="3:1">
            <mat-grid-tile class="bg-blue-500">
                
            </mat-grid-tile>
            <mat-grid-tile class="bg-red-500">2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>5</mat-grid-tile>
            <mat-grid-tile>6</mat-grid-tile>
            <mat-grid-tile>7</mat-grid-tile>
            <mat-grid-tile>8</mat-grid-tile>
          </mat-grid-list>
          
    </div>
</div>
